In [1]:
import requests
import json
import pprint
import numpy as np
import pandas as pd
from matplotlib import pyplot
import seaborn

In [2]:
response = requests.get('http://127.0.0.1:5000/students/')
r_data = response.text
p_data = json.loads(r_data)
pprint.pprint(p_data)

{'1': {'chemistry': 95, 'math': 98, 'name': 'Ojas', 'physics': 97},
 '10': {'chemistry': 47, 'math': 48, 'name': 'Rishi', 'physics': 42},
 '2': {'chemistry': 90, 'math': 46, 'name': 'Nikhil', 'physics': 94},
 '3': {'chemistry': 90, 'math': 90, 'name': 'Sparsh', 'physics': 98},
 '4': {'chemistry': 87, 'math': 85, 'name': 'Ashish', 'physics': 73},
 '5': {'chemistry': 67, 'math': 88, 'name': 'Tushar', 'physics': 92},
 '6': {'chemistry': 95, 'math': 90, 'name': 'Sachin', 'physics': 84},
 '7': {'chemistry': 45, 'math': 64, 'name': 'Saurabh', 'physics': 52},
 '8': {'chemistry': 53, 'math': 78, 'name': 'Archit', 'physics': 66},
 '9': {'chemistry': 82, 'math': 76, 'name': 'Shubh', 'physics': 71}}

In [3]:
df = pd.DataFrame.from_dict(p_data, orient="index")
df

       name  math  physics  chemistry
1      Ojas    98       97         95
2    Nikhil    46       94         90
3    Sparsh    90       98         90
4    Ashish    85       73         87
5    Tushar    88       92         67
6    Sachin    90       84         95
7   Saurabh    64       52         45
8    Archit    78       66         53
9     Shubh    76       71         82
10    Rishi    48       42         47

In [4]:
df['total_score'] = df['math'] + df['physics'] + df['chemistry']
df['average_score'] = round(df['total_score']/3,2)
df

       name  math  physics  chemistry  total_score  average_score
1      Ojas    98       97         95          290          96.67
2    Nikhil    46       94         90          230          76.67
3    Sparsh    90       98         90          278          92.67
4    Ashish    85       73         87          245          81.67
5    Tushar    88       92         67          247          82.33
6    Sachin    90       84         95          269          89.67
7   Saurabh    64       52         45          161          53.67
8    Archit    78       66         53          197          65.67
9     Shubh    76       71         82          229          76.33
10    Rishi    48       42         47          137          45.67

In [ ]:
df['average_score'].plot(kind='bar')